/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 27, 2023, 3:07:51 PM
    Author     : Cipher
*/

.left-form{
    -fx-background-color: linear-gradient(to top right, #05a81b, #007dab);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px; /*Top Right Bottom Left*/
}

.right-form{
    -fx-backgroung-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}

.textfield{
    -fx-backgroung-color: linear-gradient(to bottom, #eee, #ddd);
    -fx-background-radius: 8px;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px .8px 0px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 13px;
    -fx-border-radius: 8px;
}

.textfield:focused{
    -fx-backgroung-color: #efefef;
    -fx-border-width: 0px 0px 1.8px 0px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom, #2365a7, #213c57);
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    
}