/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 27, 2023, 3:07:51 PM
    Author     : Cipher
*/

.left-form{
    -fx-background-color: linear-gradient(to top right, #05a81b, #007dab);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px; /*Top Right Bottom Left*/
}